@import "tailwindcss";
@import "@mantine/core/styles.layer.css";

@layer base {
	body {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 100vh;
		font-family: Inter, sans-serif;
		background-color: #e4e4f1;
	}

	body,
	input,
	select,
	button {
		font-size: 1rem;
		-webkit-font-smoothing: antialiased;
	}

	option {
		text-align-last: center;
	}

	b,
	i,
	p,
	span {
		hyphens: auto;
	}

	a {
		text-decoration: none;
	}

	button,
	fieldset,
	input {
		border: none;
	}

	button {
		cursor: pointer;
		background: none;

		&:disabled {
			cursor: default;
		}
	}

	input,
	select {
		background: transparent;
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			appearance: none;
		}
	}

	option {
		border-bottom: none;
	}

	label {
		cursor: text;
	}
}
