tmp

# Build files
build
dist
dist-ssr

# Dependencies
node_modules

## Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

## Env files
.env
.env*.local

## Logs
logs
*.log*

## Next.js
.next
next-env.d.ts
out

## Package managers
# bun.lockb
package-lock.json
pnpm-lock.yaml
yarn.lock

## Test files
**/coverage

## TypeScript
*.tsbuildinfo
